.Content-margin-wrapper {
  margin: calc(var(--standard-margin) * 12) auto 0 auto ;
  max-width: var(--max-width);
}

@media screen and (min-width: 44em) {
  .Content-margin-wrapper {
    margin: calc(var(--standard-margin) * 9) auto 0 auto;
    max-width: var(--max-width);
  }
}