.card {
  position: relative;
  width: 250px;
  min-height: 350px;
  
  border-radius: var(--border-radius);
  color: var(--text-color-dark);
  box-shadow: var(--standard-box-shadow);
  cursor: pointer;
}
.card button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  font-size: 3rem;
  font-weight:lighter;
  right: 0;
  border-radius: calc(var(--border-radius) / 4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card button span {
  display: inline-block;
  transform: rotate(-45deg);
}

.card:hover {
  box-shadow: 5px 5px 20px -10px grey;
}
.card a:visited {
  text-decoration: none;
  color:var(--text-color-dark);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 250px;
  height: 166px;
  
  object-fit: cover;
  border-top-left-radius: calc(var(--border-radius) / 2);
  border-top-right-radius: calc(var(--border-radius) / 2);
  margin: 0 0 var(--standard-margin) 0;
}

.card h3, .card p {
  width: 100%;
  margin: calc(var(--standard-margin) * 0.5);
}
.card p {
  margin: 0;
}
