.card {
  position: relative;
  width: 250px;
  min-height: 350px;
  
  border-radius: var(--border-radius);
  color: var(--text-color-dark);
  box-shadow: var(--standard-box-shadow);
  cursor: pointer;
}
.card button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  font-size: 3rem;
  font-weight:lighter;
  right: 0;
  border-radius: calc(var(--border-radius) / 4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card button span {
  display: inline-block;
  transform: rotate(-45deg);
}

.card:hover {
  box-shadow: 5px 5px 20px -10px grey;
}
.card a:visited {
  text-decoration: none;
  color:var(--text-color-dark);
}

.card i {
  color: gray;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 250px;
  height: 166px;
  object-fit: cover;
  border-top-left-radius: calc(var(--border-radius) / 2);
  border-top-right-radius: calc(var(--border-radius) / 2);
  margin: 0 0 var(--standard-margin) 0;
}

.skeleton-img {
  width: 250px;
  height: 166px;
  background-color: hsl(200, 20%, 75%);
  opacity: .7;
  border-top-left-radius: calc(var(--border-radius) / 2);
  border-top-right-radius: calc(var(--border-radius) / 2);
  margin: 0 0 var(--standard-margin) 0;
  animation: skeleton-loading .5s linear infinite alternate;
}

.skeleton-text{
  width: 100%;
  height: 1rem;
  margin-top: calc(var(--standard-margin) * 0.5);
  margin-bottom: 0;
  background-color: hsl(200, 20%, 75%);
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-text:last-of-type{
  width: 80%;
  margin-right: auto;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 75%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.card h3, .card p {
  width: 100%;
  margin: calc(var(--standard-margin) * 0.5);
}
.card p {
  margin: 0;
}
