.CardPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: calc(100% - var(--standard-margin) * 1);
  max-width: var(--max-width);
  margin: calc(var(--standard-margin) * 12) auto;
}
/* .CardPage:hover {
  box-shadow: 5px 5px 20px -10px grey;
} */

.CardPage-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--standard-margin) auto;
}

.CardPage-img {
  width: clamp(100%, 40%, 40%);
  min-width: 250px;
  max-width: var(--max-width);
  border-radius: var(--border-radius);
  margin: auto calc(var(--standard-margin)) auto var(--standard-margin);
}

.CardPage h3 {
  text-align: left;
}

.CardPage-text {
  width: clamp(95%, 60%, 60%);
  padding: var(--standard-margin);
}


@media screen and (min-width: 44em) {
  .CardPage-body {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .CardPage-img {
    width: clamp(40%, 20%, 20%);
  }
  .CardPage h3 {
    text-align: left;
  }
}