.Footer {
  /* comment this */
  position: relative;
  top: 1rem;

  /* uncomment this  */

  /* position: absolute; 
  width: fit-content; 
  bottom: 0; */

  /* to make it dissapear  */

  left: 0;
  right: 0;
  margin: 0 auto;
  
}

