.Footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: 0 auto;
  
}
.Footer p {
  margin: 0;
}

@media screen and (min-width: 44em) {
  .Footer {
    top: 0;
    bottom: unset;
  }
  
  
}

