/* modal  */
.add-modal {
  opacity: 1;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0 auto;
  max-width: 650px;
  background-color: var(--primary-color);
  border-radius: calc(var(--border-radius) / 2);
  border: 1px solid var(--cta-color);
  color: var(--text-color-dark);
  box-shadow: 1px 1px 4px -2px grey;
  display: grid;
  place-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow-y: scroll;
}
.add-modal label {
  margin-top: calc(var(--standard-margin) * .5);
}

.add-modal label:first-of-type {
  margin-top: calc(var(--standard-margin) * 1);
}

.AddCard-input-img {
  border-top-left-radius: calc(var(--border-radius) / 2);
  border-top-right-radius: calc(var(--border-radius) / 2);
  /* margin: 0 auto; */
  justify-self: center;
}

.upload-photo-icon {
  width: var(--standard-margin);
}
.file-upload {
  display: none;
}

.file-upload-label, .add-title, .add-text, .add-subtitle {
  width: 250px;
  /* margin: calc(var(--standard-margin) / 2) auto; */
  border-radius: calc(var(--border-radius) / 2);
  border: 1px solid var(--text-color-dark);
}
/* .add-title {
  height: 30px;
} */

.file-upload-label {
  height: 100px;
  opacity: .7;
  display: inline-block;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* margin: var(--standard-margin) auto; */
}

.add-modal img {
  margin: 0;
}

.add-modal .close-btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  font-size: 3rem;
  font-weight:lighter;
  right: 0;
  top: 0;
  border-radius: calc(var(--border-radius) / 4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-modal .close-btn span {
  display: inline-block;
  transform: rotate(-45deg);
}