.SubNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: 600;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
  background-color: var(--sub-nav-color);
}
.SubNavbar-ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.SubNavbar-li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.SubNavbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--standard-margin) 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid transparent;
}
.SubNavbar a, .SubNavbar a:visited {
  text-decoration: none;
  color:var(--cta-color);
}

.SubNavbar-a:hover {
  background-color: var(--nav-item-hover);
  color:var(--cta-color-hover);
  border-top: 2px solid var(--cta-color);

}

@media screen and (min-width: 44em) {
  .SubNavbar {
    max-width: calc(var(--max-width) - var(--standard-margin) * 2 + 5px);
  }
}


