.Home {
  width: fit-content;
  margin: var(--standard-margin) auto;
}

.Home, .home-img {
  margin: var(--standard-margin) auto 0 auto;
  height: fit-content;
}

.Home .home-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: calc(var(--standard-margin) * 8);
  padding: calc(var(--standard-margin) * .5);
  border-radius: var(--border-radius);
  margin-top: calc(var(--standard-margin) *2);
}
.home-img, .home-text {
max-width: clamp(min(100%, 30rem), 300px, max(100%, 55rem));
border-radius: var(--border-radius);
}


@media screen and (min-width: 44em) {
  .Home {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: calc(var(--standard-margin) * 1) 0;
    gap: calc(var(--standard-margin) * 1);
  }
  .home-img {
    max-width: 60%;
    height: auto;
    margin: var(--standard-margin)
  }
  .home-text {
    max-width: 30%;
    margin-top: calc(var(--standard-margin) * 3);
  }
  
}
