.CardPage {
  
  max-width: var(--max-width);

}
/* .CardPage:hover {
  box-shadow: 5px 5px 20px -10px grey;
} */

.CardPage-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--standard-margin) auto;
  width: 100%;
}

.CardPage-img {
  min-width: 250px;
  max-width: 100%;
  border-radius: var(--border-radius);
  /* margin: auto calc(var(--standard-margin)) auto var(--standard-margin); */
}

.CardPage-text {
  width: 95%;
  max-width: 490px;
  margin: calc(var(--standard-margin) * .5) var(--standard-margin);
}

.CardPage h3 {
  text-align: left;
  margin-top: 0;
}

@media screen and (min-width: 44em) {
  .CardPage-body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: start;
    justify-content: start;
  }
  .CardPage-img {
  grid-column: span 2;
  }
  .CardPage-text {
   grid-column: span 1;
   

  } 
  
}