.CardPage {
  max-width: var(--max-width);
  border-radius: var(--border-radius);
  margin: 0 calc(var(--standard-margin) * .5);

}

.CardPage-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}

.CardPage-img {
  max-width: 98%;
  object-fit: contain;
  min-height: 250px;
  max-height: 50vh;
  border-radius: var(--border-radius);
}

.CardPage-text {
  width: 98%;
  margin: var(--standard-margin);
  background-color: var(--sub-nav-color);
  padding: calc(var(--standard-margin) * .5);
  border-radius: var(--border-radius);
}

.CardPage h3, .CardPage p {
  margin: .5rem 0;
}

@media screen and (min-width: 44em) {
  .CardPage-body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: start;
    justify-items: center;
    gap: calc(var(--standard-margin) * .5) var(--standard-margin);
    padding: 0 calc(var(--standard-margin) * 2);
  }
  .CardPage-img {
  grid-column: span 2;
  max-height: 100%;
  max-width: 580px;
  }
  .CardPage-text {
   grid-column: span 1;
   max-width: calc(var(--max-width) - 580px - var(--standard-margin) * 8);
   margin: 0;
  } 
  
}