.AddCard {
  position: relative;
  width: 250px;
  min-height: 350px;
  border-radius: var(--border-radius);
  color: var(--text-color-dark);
  box-shadow: var(--standard-box-shadow);
}


.AddCard-pluss {
  width: 250px;
  height: 165px;
  font-size: 5rem;
  margin: 0px 1px var(--standard-margin) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  color: rgba(128, 128, 128, 0.304);
  border-top-left-radius: calc(var(--border-radius) / 2);
  border-top-right-radius: calc(var(--border-radius) / 2);
  border: 1px dotted rgba(128, 128, 128, 0.4);
}

.AddCard:hover {
  box-shadow: 5px 5px 20px -10px grey;
  cursor: pointer;
}

.AddCard-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 